@tailwind base;
@tailwind components;
@tailwind utilities;

/* Expo Web scroll fix */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#root {
  display: flex;
  flex-direction: column;
}
